<% include ./navbars/homepagenavbar %>

	<div class="container landing-page-body">
		<div class="row" id="homepagediv">
			<div class="col-lg-12" id="div1">
				<div id="content">
					<h1>Socialite</h1>
					<h3>A social network without a network.</h3>
					<button class="btn btn-outline-primary my-2 my-sm-0" id="homepagebutton">
					    <a href="/register">Not a member?..Sign Up</a>
					</button>
				</div>
			</div>
		</div>
	</div>

<% include ./partials/footer %>
