<% include ./navbars/standardnavbar %>

<div class="container">
        
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>

      <div>
        
              <div class="headind_srch">
                <div class="srch_bar">
                    <div class="stylish-input-group">
                      <input type="text" id="search" class="search-bar"  placeholder="Search" >
                    </div>
                  </div>
                  
              </div>

              <% user.conversations.forEach(function(convo) { %>
              <div class="chat_list active_chat">
                <div class="chat_people">
                  <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                  <div class="chat_ib">
                    <h5> <%= convo.messages[0].reciever[0].username %><span class="chat_date"> <%= convo.messages[0].time %></span></h5>
                    <p><%= convo.messages[0].body %></p>
                  </div>
                </div>
              </div>
              <% }); %>
              
              <div class="mesgs">
            
                  <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                      <div class="received_withd_msg">
                        <p>Test which is a new approach to have all
                          solutions</p>
                        <span class="time_date"> 11:01 AM    |    June 9</span></div>
                    </div>
                  </div>
                  
                  <div class="outgoing_msg">
                    <div class="sent_msg">
                      <p>Test which is a new approach to have all
                        solutions</p>
                      <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                  </div>
                
                  <div class="type_msg">
                    <div class="input_msg_write">
                      <input type="text" class="write_msg" placeholder="Type a message" />
                      <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </div>
                  </div>
      
              </div>
              
      </div>
      
</div>

<% include ./partials/footer %>
